//- ----------------------------------
//- 💥 DEMOS > DISPLACY
//- ----------------------------------

include _mixins

form.o-banner.o-form(name="sentence", method="post")
    +input("Your sentence here...")#input
        +input(type="submit" onkeydown="if (event.keyCode == 13) { this.form.submit(); return false; }")#submit

    +dropdown("radio", "model", "Model", { en: "English (v0.101.0)", de: "German (v0.101.0)" }, "en")

    +dropdown("checkbox", "settings", "Settings", { punctuation: "Collapse Punctuation", phrases: "Collapse Phrases" }, [ "punctuation", "phrases" ])

    +button("download", "Download")#download(download="displacy.svg")

.o-container#displacy

+error("Oops, something went wrong. Please try again!")
